@charset "utf-8";
article{
background-color: #151112;
margin: 10px;
border-width: 3px;
border-color: white;
border-style: solid;
border-radius: 3px;
padding: 7px;
text-align: left;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #151112;
    margin: 4px auto 4px auto;
border-width: 3px;
border-color: white;
border-style: solid;
border-radius: 3px;
padding: 4px;
}
main{
    max-width: 800;
    min-width: 280;
}
img{
    text-align: right;
}
div{
    background-color: #790709;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font: normal ;
    margin: 13px ;
    width: 310px;
     height: 200px;
    text-align: center;
    display: inline-block;
    min-width: 100;
}
footer{
    background-color: #151112;
    margin: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
}